.feed__post{
   
    display: flex;
    margin-top: 0%;
    margin: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
}
.feed__post:hover{
   
    opacity: 0.5;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    
    
}
.feed__posttitle{
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 10px;
}